.checkedicon {
  width: 18px;
  height: 18px;
  border-radius: 50px;
  color: #fff;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: #e52c32;
}

.radiogroup {
  font-family: "Nunito Sans", sans-serif !important;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #1f1f1f;
}
